body {
	background: rgb(216,216,216) url(q3w.jpg)  repeat; 
	background-size: 45%;
	position: relative;	
	border: 0;
	
	vertical-align: baseline;
	font: 0.9em "Arial",serif;
	color: #dfe0e2  ;
	}
		
#item1, #item2 {
font-weight: bold;
color: #00ff00;}

textarea {
        
        
		background: rgb(90%, 90%, 91%);
		 
        }

#txta textarea {
width: 100%;
}

#posi {
float: right;
margin-right: 52%;
}

#posi2 {
float: right;
margin-right: 59.2%;
}

textarea:hover {
background-color: #ffffe6;}		

#fizmo {
font: 1.1em "Arial",serif;
}
#joketext {
font: 1.1em "Arial",serif;
color: #989898  ;}




#timecode {
font: 1.1em "Arial",serif;
color: #000000 ;}

#soulfood {
height: 54px;
width: 100%;
border: 1px solid #909090;

}

#aform button{
background-color: #dfe0e2;}
#aform button:hover {
background-color: #ffffcc;}
#aform select{
background-color: #dfe0e2;}

#aform select:hover {
background-color: #ffffcc;}


#aform input{
background-color: #dfe0e2;}
#aform input:hover {
background-color: #ffffe6;}
#aform [type=check],
#aform [type=button],
#aform [type=submit] 
 {
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 1px solid #F0FFFF;
}

#butts {
float: right;
height: 30px;
width: 8%;
border: 0.7px solid #909090;
margin: 0.5 px;
}



#wandler {
height: 30px;
width: 100%;}

#wandler2 {
margin-top: 15px;
margin-left: 163px;

}
#fl {

margin-left: 25px;

}

::selection {
    color: #00ff00;
    background: #000000;}
	
div#butt {
          background: url(buciak.png) no-repeat;
          width:25px;
          height:22px;
		  margin-left: 2%;
		  /*margin: 0% 30% 0% 0%;*/
          float: right;
}

div#buttr {
          background: url(buciak2.jpg) no-repeat;
          width:25px;
          height:22px;
		  /*margin-right: 66%;*/
		  /*margin: 0% 30% 0% 0%;*/
          float: left;
}
 
  #centra {
height: 22 px;
width: 70px;
margin: 0% 50%;
}